.root {
  padding: 0px 1.5rem;
  border-bottom: 3px solid black;
}

.root__title {
  color: rgba(black, 0.65);
}

.root__list {
}

.root__list__link {
  text-decoration: "none";
}

.root__list__link__btn {
}

.root__list__link__btn__text {
}
