.root {
  padding: 0px 1.5rem;
  border-bottom: 3px solid black;
  margin-bottom: 1rem;
}

.root__nav {
}

.root__nav__title {
  color: rgba(black, 0.65);
}

.root__nav__list {
}

.root__nav__list__btn {
}

.root__nav__list__btn__text {
}
