.root {
  border-bottom: 3px solid black;
  height: 3.75rem;
  padding: 0px 1.75rem;
}

.root__breadcrumb-container {
}

.root__breadcrumb-container__breadcrumb {
}

.root__breadcrumb-container__breadcrumb__link {
}

.root__breadcrumb-container__breadcrumb__current-text {
}

.root__btn-container {
}

.root__btn-container__btn {
}
